.footer {
    width: 100%;
    background-color: var(--dark-color);
    position: relative;
}

.footerWrapper {
    width: 100%;
    background: var(--dark-color);
    padding: 80px 0 50px;
}

.footerLinks h5 {
    color: #cccccc;
    opacity: .5;
    margin-bottom: 10px;
}

.footerLinks ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footerLinks ul li {
    margin: 7px 0;
}

.footerLinks ul li a {
    color: #ffffff !important;
    display: flex;
    align-items: center;
}

.footerLinks ul li a:before {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--alt-color);
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
}

.footerLinks ul li a:hover {
    color: var(--alt-color);
}

.footerAbout p {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerAbout span {
    color: #cccccc;
    opacity: .5;
}