.footerApplication {
    width: 100%;
    background: var(--primary-color);
    position: relative;
}

.footerApplication:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    clip-path: ellipse(52% 100% at 50% 0%);
}

.footerApplicationWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.footerApplicationIntro {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

.footerApplicationImage {
    position: absolute;
    bottom: -40px;
    right: 0;
}