body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
}

:root {
    --primary-color: #1aa097;
    --alt-color: #dfb992;
    --dark-color: #051522;
    --gold-color: #ffbe00
}

a {
    text-decoration: none !important;
    color: #333 !important;
}

.form-select:focus,
.form-control:focus {
    box-shadow: none !important;
}

.btn-wrapper {
    display: flex;
    align-items: center;
}

.custom-btn {
    background: var(--primary-color);
    color: #fff;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: inset 0px -1px 1px 0px rgb(0 0 0 / 40%);
    border: 1px solid var(--primary-color);
}

.custom-btn.alt {
    background: #ffffff;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.postHeader {
    width: 100%;
    padding: 20px 0;
}

.postHeaderWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadCrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.breadCrumb ul li {
    margin-right: 5px;
}

.breadCrumb ul li:last-child {
    margin-right: 0;
}

.breadCrumb ul li a {
    padding-right: 5px;
    color: #c6c6c6 !important;
}

.breadCrumb ul li svg {
    color: var(--gold-color);
    font-size: 20px;
}

.socialIcons ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.socialIcons ul li {
    margin-right: 5px;
}

.socialIcons ul li:last-child {
    margin-right: 0;
}

.socialIcons ul li a {
    padding-right: 5px;
    color: #a1a1a1 !important;
    font-size: 22px;
}

.socialIcons ul li:last-child a {
    padding-right: 0;
}
